
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* Navigation styles! */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 56px;
    width: 100%;
}

.logo svg {
    margin: 10px;
}

#yt-logo {
    width: 100px;
    height: 50px;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.search-bar {
    display: flex;
}

.search-bar input {
    width: 388px;
    height: 40px;
    padding: 20px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-right: none;
    font-size: 1.1rem;
    font-weight: 548;
}

.search-btn {
    width: 50px;
    padding: 3px;
    background-color: #F2F2F2;
    border-bottom-right-radius: 9999px;
    border-top-right-radius: 9999px;
}

.search-btn:hover {
    background-color: #d1cece;
    transition: 0.9s ease;
}
.mic-btn {
    margin-left: 15px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background-color: #F2F2F2;
    color: black;
}

.mic-btn:hover {
    background-color: #d1cece;
    transition: 0.9s ease;
}

.profile {
    display: flex;
    gap: 13px;
    padding-right: 30px;
    align-items: center;
    justify-content: center;
}

.create-btn {
    display: flex;
    align-items: center;
    width: 90px;
    padding: 5px 10px;
    height: 34px;
    border-radius: 20px;
    border: none;
    background-color: #F2F2F2;
}

.create-btn:hover {
    background-color: #d1cece;
    transition: 0.9s ease;
}

.bell-btn {
    font-size: 1.6rem;
    padding: 5px 10px;
    border-radius: 100%;
}

.bell-btn:hover {
    border-radius: 50%;
    background-color: #d1cece;
    transition: 0.9s ease;
}

.profile img {
    width: 40px;
    height: 40px;
}


/* main tag */
main {
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
}


/* side bar styles!! */
.side-bar {
    display: flex;
    flex-direction: column;
    width: 20%;
    overflow-y: scroll;
    height: 100%;
}

.home {
    width: 100%;
    padding: 10px 15px 20px 15px;
    border-bottom: 1.8px solid #d1cece;
}

.home div {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    border-radius: 14px;
}

.home div:hover {
    background-color: #F2F2F2;
    transition: 0.9s ease;
}

.home div p {
    margin-left: 20px;
}

.subscriptions {
    width: 100%;
    padding: 10px 15px 20px 15px;
    border-bottom: 1.8px solid #d1cece;
}

h5 {
    font-size: 1.1rem;
    padding: 6px 0px;
}

.channels {
    display: flex;
    width: 100%;
    padding: 6px 0px 6px 20px;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 14px;
}

.channels:hover {
    background-color: #F2F2F2;
    transition: 0.9s ease;
}

.channels p{
    margin-left: 20px;
}

.channels img {
    width: 30px;
    border-radius: 100%;
}

.channels span {
    padding: 6px 0px;
    margin-left: 15px;
}

footer {
    margin: 20px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer div {
    padding: 0px 30px;
}

.foot-links a{
    text-decoration: none;
    color: #60646E;
    margin-right: 8px;
    font-size: 0.9rem;
    font-weight: 585;
}

.copyright p {
    color: #aaa4a4;
    font-size: 0.95rem;
    margin-bottom: 5px;
}
